{{! использование файлов из partials, двойные фигурные скобки и стрелка.
Как это не странно, но без стрелок не применяются стили. ? }}
{{>head}}
<body>
    {{>navbar}}
    <div class="'container">
        {{! использование файлов из views?, тройные фигурные скобки }}
        {{{body}}}
    </div>
    {{>footer}}
</body>
<html />