.mainBlock {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aquamarine;
}

.setBlock {
    /* border-style: double;
    border: 20ps solid darkgrey; */
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.head {
    margin-top: 20px;
    font-size: 2.4rem;
}

.imageSize {
    width: 70%;
    margin-top: 20px;
}

.link {
    font-size: 1.2rem;
}

.marginPrice {
    margin-top: 10px;
}
