<div class='bg'>
    <div class='homeStile'>
        {{#if isAuth}}
            <h4>Краткая инструкция по работе с ресурсом.</h4>
            <p class='homeStileItalic'>
                <strong>Courses: </strong>
                перечень курсов /редактирование, удаление/.<br />
                <strong>Add courses: </strong>добавление новых курсов.<br />
                <strong>Basket: </strong>
                корзины потенциальных покупателей.<br />
                <strong>Order: </strong>
                заказы покупателей, купивших курсы.
                <br />
                <strong>Profile: </strong>
                ваш профиль.</p>
        {{else}}
            <h3>Добро пожаловать в мир дизайна!</h3>
            <p
                class='homeStileItalic'
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ресурс предназначен
                для размещения авторских курсов по дизайну, доступными для
                прохождения онлайн. Приобретение курсов происходит также онлайн,
                автору курса остается поддерживать их в актуальном состоянии.
                Помимо данных опций, ресурс дает возможность отслеживать спрос
                по количеству курсов, приобретенных или находящихся в корзинах
                потенциальных покупателей.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Для доступа к
                ресурсам пройте регистрацию.</p>
        {{/if}}
    </div>
</div>